@charset "UTF-8";
$sp:768px;
@mixin sp{
  @media(max-width:($sp)){
  @content;
  }
}

// common
body{
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  font-size: 100%;
}
h1,h2,h3{
  margin: 0;
  line-height: 1;
}
p{
  font-size: 0.875rem;
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color:white;
}
section{
  background: rgb(229,225,212);
}
.container{
  max-width:1024px;
  width: 100vw;
  margin: 0 auto;
  writing-mode:vertical-rl;
}

// header
header{
  writing-mode:vertical-rl;
  background-image: url(../img/mainvisual-pc.jpg);
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  display: flex;
  color:white;
  @include sp{
    background-image: url(../img/mainvisual-sp.jpg);
  }
  .header-text{
    margin-top: 60px;
    margin-right: 80px;
    @include sp{
      margin-top: 20px;
      margin-right: 20px;
    }
    h1{
      padding-left: 60px;
      letter-spacing: 10px;
      font-size: 2.75rem;
    }
    ul{
      li+li{
        padding-right: 25px;
      }
    }
  }
  #store{
    display: block;
    align-self: end;
    margin-left: 48px;
    margin-bottom: 38px;
    padding: 30px 18px;
    background: rgb(90,90,90);
    border:1px solid white;
    outline:8px solid rgb(90,90,90);
    @include sp{
      margin-left: 28px;
      margin-bottom: 28px;
    }
    &:hover{
      color:rgb(180,180,180);
      border-color: rgb(180,180,180);
    }
  }
}

// お知らせ
#news{
  .container{
    padding: 180px 0;
    @include sp{
      padding: 80px 0;
    }
    .news-title{
      padding-right: 20px;
      h2{
        padding-right: 15px;
        font-size: 2.2rem;
        font-weight: normal;
        letter-spacing: 5px;
        @include sp{
          font-size:1.75rem;
          letter-spacing: 3px;
        }
      }
    }
    ul{
      padding-top: 80px;
      padding-right: 100px;
      @include sp{
        padding-top: 20px;
        padding-right: 30px;
      }
      li{
        border-right:1px solid black;
        padding: 15px 0;
        p:first-of-type{
          padding-right: 30px;
          font-size: 0.8rem;
          @include sp{
            padding-right: 10px;
          }
        }
        p:last-of-type{
          padding-left: 30px;
          font-size: 1rem;
          padding-right: 5px;
          @include sp{
            padding-left: 10px;
          }
        }
      }
      li:nth-of-type(3){
        @include sp{
          border-left:1px solid black;
        }
      }
      li:last-of-type{
        border-left:1px solid black;
      }
      .pc{
        @include sp{
          display: none;
        }
      }
    }
  }
}

// 商品のご紹介
#goods{
  .container{
    padding-bottom: 180px;

    @include sp{
      padding-bottom: 100px;
    }
    .goods-title{
      display: flex;
      h3{
        font-size: 2rem;
        font-weight: normal;
        letter-spacing: 5px;
        padding: 0 13px;
        @include sp{
          font-size: 1.5rem;
          letter-spacing: 3px;
          padding-right: 15px;
          padding-left: 10px;
        }
      }
      p{
        align-self: center;
        padding-top: 24px;
        @include sp{
          display: none;
        }
      }
    }
    .goods-img{
      padding-top: 100px;
      width: 62%;
      display: flex;
      @include sp{
        width: 85%;
      }
      img{
        width: 100%;
      }
      p{
        writing-mode: horizontal-tb;
        font-size: 1rem;
        background: rgba(255,255,0,.6);
        color:white;
        height: 146px;
        width: 56%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -126px;
        margin-right: calc(62% + 20px);
        @include sp{
          height: 100px;
          width: 64%;
          margin-top: -80px;
          margin-right: calc(50% + 20px);
          font-size: 0.875rem;
        }
      }
    }
  }
  .reverse{
    writing-mode:vertical-lr;
    .goods-title{
      h3{
        padding-left: 15px;
        padding-right: 10px;
      }
    }
    .goods-img{
      p{
        background: rgba(255,0,0,.6);
        color:white;
        margin-top:-126px;
        margin-left: calc(62% + 20px);
        @include sp{
          margin-top: -80px;
          width: 64%;
          margin-left: calc(50% + 20px);
        }
      }
    }
  }
}

// map
#map{
  iframe{
    width: 100%;
    vertical-align: bottom;
  }
}

// footer
footer{
  background: black;
  color:white; 
  width: 100vw;
  .footer-content{
    writing-mode: vertical-rl;
    width: calc(100% - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:80px 80px 10px 30px;
    @include sp{
      padding: 30px 20px 10px;
      width: calc(100% - 40px);
    }
    .footer-text{
      h1{
        font-size: 2.75rem;
        letter-spacing: 10px;
      }
      p{
        padding:0 60px 0 64px;
        line-height: 2;
        @include sp{
          padding: 0 25px;
        }
      }
      ul{
        li{
          padding-left: 25px;
          @include sp{
            padding-left: 10px;
          }
          a{
            @include sp{
              font-size: 0.85rem;;
            }
          }
        }
      }
    }
    p{
      #online{
        padding-bottom: 7px;
        border-bottom:1px solid white;
      }
      a:last-of-type{
        padding-top: 7px;
      }
    }
  }
  .mk{
    font-size: 0.6rem;
    text-align: center;
    padding-bottom: 30px;
  }
}